body {
  font-size: 16px;
  color: #fff;
  background-color: lightyellow;
  font-family: 'Loto' sans-serif;

}

/** HEADER **/
#header-nav{
  background-color: #f6b319;
  border-radius: 0;
  border: 0;

}


.navbar-header h1 { 
	/* Restaurant name */
  padding-top: 5px;
  padding-left: 5px;
  font-family: serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 0px 0px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}

}
#listes {
color: #000;
font-size: 1.3em;
background-color: lightyellow;

 } 

#navbar-ext.text-center {
background-color: lightgreen;

}
  #navbartex.text-center {
background-color: lightblue;

  }
  #navbarte.text-center {
background-color: #ffece0;

  }
/* HOME PAGE  CONTAINER*/
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
  margin-top: 2px;
  margin-left: 1px;
  margin-right:1px;
  padding: 1px;
}

#menu1.text-center {
   color: blue;
  font: bold;
  font-size: 18px;

  
}
h1.text-center {
   color: black;
  font: bold;
  font-size: 1.5em;
  
}
#chicken1.jumbotron {
  box-shadow: 0 0 0px #3F0C1F;
  border: 0px solid #3F0C1F;
  color: black;
  height: 500px;
}

/* END HOME PAGE */
